@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Laundreze</h1>
    <p>Easy Laundry Anytime</p>

<br />

    <input type="image" id="myimage" src="[" C:\Users\evanr\OneDrive\Desktop\launry order.png"]" />

</div> 



