@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Easy Laundry</h1>
    <p>Laundering at your ease</p>
    <br />
    <br />
    <br />
    <br />
    <a asp-action="Create" asp-controller="OrderModels" class="btn-link">
        <img src="~\Images\launry order.png" alt="Create Order" />
    </a>
    <br />
    <br />
    <br />
    <br />
    <a asp-action="Index1" asp-controller="OrderModels" class="btn-link">
        <img src="~\Images\launry order.png" alt="Track Order" />
    </a>
    <br />
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            @TempData["Message"]
        </div>
    }
</div>
