@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EasyLaundry</h1>
    <p>We clean, press and pack all your laundry without the hassle</p>
</div>
