@model Easy_Laundry.Models.OrderModel

@{
    ViewData["Title"] = "Create";
}

<h1>Place Your Order</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClothType" class="control-label"></label>
                <input asp-for="ClothType" class="form-control" />
                <span asp-validation-for="ClothType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LaundryType" class="control-label">Laundry Type</label>
                <select asp-for="LaundryType" class="form-control">
                    <option value="Wash">Wash</option>
                    <option value="DryClean">DryClean</option>
                    <option value="Ironing">Ironing</option>
                    <option value="Wash + Ironing">Wash + Ironing</option>
                </select>
                <span asp-validation-for="LaundryType" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
