@model Easy_Laundry.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Order</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" id="StatusDropdown">
                    @if (Model.Status == "Pending")
                    {
                        <option value="Pending" selected>Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="InProgress" disabled>InProgress</option>
                        <option value="Completed" disabled>Completed</option>
                    }
                    else if (Model.Status == "Confirmed")
                    {
                        <option value="Pending" disabled>Pending</option>
                        <option value="Confirmed" selected>Confirmed</option>
                        <option value="InProgress">InProgress</option>
                        <option value="Completed" disabled>Completed</option>
                    }
                    else if (Model.Status == "InProgress")
                    {
                        <option value="Pending" disabled>Pending</option>
                        <option value="Confirmed" disabled>Confirmed</option>
                        <option value="InProgress" selected>InProgress</option>
                        <option value="Completed">Completed</option>
                    }
                    else 
                    {
                        <option value="Pending" disabled>Pending</option>
                        <option value="Confirmed" disabled>Confirmed</option>
                        <option value="InProgress" disabled>InProgress</option>
                        <option value="Completed" selected>Completed</option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label"></label>
                <input asp-for="CompletionDate" id="CompletionDate" class="form-control" />
                @if (Model.Status =="Completed" )
                {
                    <input asp-for="CompletionDate" id="CompletionDate" class="form-control" disabled/>
                }
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<div>
    <a asp-action="Index1">Back to Order List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
